.project-container {
  width: 80%; /* Adjust the width to 80% of the website */
  margin: 0 auto; /* Center the container */
}

.project-image {
  width: 200px; /* Set image width to 20% of the container width */
  height: 200px; /* Allow height to adjust based on content */
}
