/* General Styles */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.contactContent {
  max-width: 1200px;
  padding: 40px;
  background-color: #fff;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
}

.contactContenTitle {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #0e1011;
  margin: 50px 0px;
  font-family: 'Montserrat', sans-serif;
}

.contactContentInfo {
  display: flex;
  flex-direction: column;
}

.contactContentInfoFlex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contactContentInfoFlex p {
  font-size: 16px;
  color: #0e1011;
}

/* Form Styles */
.contactContentInputContent {
  display: flex;
  flex-direction: column;
}

.customTextField {
  margin-bottom: 20px;
}

.customTextField label {
  color: #0e1011;
  font-weight: bold;
}

.customTextField input,
.customTextField textarea {
  font-size: 18px;
  color: #0e1011;
}

/* Button Styles */
.contactContentInputContent button {
  background-color: #FED136;
  color: #0e1011;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactContentInputContent button:hover {
  background-color: #EFBB35;
}

/* Media Queries */
@media (max-width: 480px) {
  .contactContentInfoFlex {
    display: flex;
    align-items: flex-start;
  }
  .contactContentInfoFlex p {
    display: flex;
    margin-left: 0;
    margin-top: 5px;
  }
}
