/* General Styles */
.contact {
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contactContenTitle {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #0e1011;
  margin: 50px 0px;
  font-family: 'Montserrat', sans-serif;
}

.contactContent {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  gap: 20px;
}

.formContent {
  flex: 2;
}

.contactContentInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
  border-left: 1px solid #ddd;
}

.contactContentInfoFlex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contactContentInfoFlex p {
  font-size: 16px;
  color: #0e1011;
  margin-left: 10px;
}

.contactContentInfoFlex a.contact-link {
  font-size: 16px;
  color: #0077b5; /* LinkedIn blue color */
  text-decoration: none;
  margin-left: 10px;
}

.contactContentInfoFlex a.contact-link:hover {
  text-decoration: underline;
}


/* Form Styles */
.contactContentInputContent {
  display: flex;
  flex-direction: column;
}

.customTextField {
  margin-bottom: 20px;
}

.customTextField label {
  color: #0e1011;
  font-weight: bold;
}

.customTextField input,
.customTextField textarea {
  font-size: 18px;
  color: #0e1011;
}

/* Button Styles */
.contactContentInputContent button {
  background-color: #FED136;
  color: #0e1011;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  transition: background-color 0.3s ease;
  margin-top: 5vh;
  width: 150px;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
}

/* .contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.contactContentInputContent button:hover {
  background-color: #EFBB35;
}

/* Media Queries */
@media (max-width: 768px) {
  .contactContent {
    flex-direction: column;
    padding: 20px;
  }

  .contactContentInfo {
    border-left: none;
    border-top: 1px solid #ddd;
    margin-top: 20px;
  }

  .contactContentInfoFlex {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .contactContent {
    padding: 20px 10px;
  }

  .contactContenTitle {
    font-size: 28px;
    margin: 30px 0px;
  }

  .contactContentInfoFlex {
    align-items: flex-start;
  }

  .contactContentInfoFlex p {
    margin-left: 0;
    margin-top: 5px;
  }

  .customTextField input,
  .customTextField textarea {
    font-size: 16px;
  }

  .contactContentInputContent button {
    padding: 10px 15px;
    font-size: 14px;
    width: 100%;
  }

  .contact-button {
    margin-top: 10px;
  }
}
