.expertise {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expertiseContent {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.expertiseContentWords {
  width: 170vh;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
  text-align: start;
}

.expertiseTitle {
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 8px;
  height: 20vh;
}

.expertiseCirlceContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.expertiseCirlce {
  width: 20vh;
  height: 20vh;
  background-color: #0e1011;
  border-radius: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expertiseCirlceNumber {
  margin-bottom: 5vh;
  font-size: x-large;
  font-weight: 400;
  color: #fed136;
}

.expertiseCirlceWords {
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: 400;
  color: white;
}

.expertiseSmallCirlce {
  width: 6vh;
  height: 6vh;
  border: 1px solid #0e1011;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expertiseSkills {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.expertiseSkillsBoxContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10vh;
}

.expertiseSkillsBox {
  margin-right: 2vh;
}
