.expertise {
  background-color: #ffffff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expertiseContent {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.expertiseTitle {
  font-size: 36px;
  color: #0e1011;
  letter-spacing: 8px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.expertiseSubTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #0e1011;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.subTitleOfList {
  font-size: 20px;
  color: #0e1011;
  margin-bottom: 20px;
}

.expertiseContentWords  {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.expertiseContentWords ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  width: calc(50% - 20px); 
  margin-bottom: 20px;
  border: 2px solid #ccc; 
  border-radius: 10px;
  padding-top: 6px;
}

.expertiseContentWords ul:hover {
  transform: scale(1.05); 
}

.expertiseContentWords li {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.expertiseContentWords li:hover {
  color: #fff;
  background-color: #0e1011; 
  border-radius: 10px;

}

.expertiseCirlceContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border: 2px solid #ccc; 
  border-radius: 10px;
  padding: 30px;
}

.expertiseCirlceContent div:hover {
  transform: scale(1.1);
}

.expertiseCirlce {
  background-color: #fff;
  border: 2px solid #0e1011;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expertiseCirlceNumber {
  font-size: 20px;
  color: #0e1011;
}

.expertiseCirlceWords {
  font-size: 20px;
  color: #0e1011;
}

.expertiseSmallCirlce {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expertiseSkills {
  margin: 40px 0px;
}

.expertiseSkills h1 {
  font-size: 32px;
  color: #0e1011;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.expertiseSkillsBoxContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.expertiseSkillsBox {
  margin: 0 20px;
  max-width: 200px;
  margin-bottom: 20px;
}

.expertiseSkillsBox img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #0e1011;
  transition: transform 0.3s ease-in-out;
  cursor: pointer
}

.expertiseSkillsBox img:hover {
  transform: scale(1.2);
}

.skillInfo {
  position: absolute;
  background-color: white;
  display: block;
  cursor: pointer;
  width: fit-content;
  border: 1px solid #b9b6b6;
  border-radius: 10px;
  padding: 10px;
  transform: translateX(50px) translateY(-120px);
  z-index: 1;
}
.skillInfo p {
  font-size: 16px;
}




/*Media query for mobile app */
@media (max-width: 768px) {
  .expertiseTitle {
    font-size: 28px;
  }

  .expertiseSubTitle {
    font-size: 16px;
  }

  .subTitleOfList {
    font-size: 18px;
  }

  .expertiseContentWords ul {
    width: 100%;
    margin: 10px 20px;
  }

  .expertiseCirlceContent {
    flex-direction: column;
    padding: 20px;
  }

  .expertiseCirlce {
    width: 120px;
    height: 120px;
  }

  .expertiseCirlceNumber {
    font-size: 18px;
  }

  .expertiseCirlceWords {
    font-size: 16px;
  }

  .expertiseSmallCirlce {
    transform: rotate(90deg);
    margin: 20px 0;
  }

  .expertiseSkillsBox {
    margin: 0 10px 20px;
  }

  .expertiseCirlceContent {
    margin: 0px 20px
  }
  
}

@media (max-width: 480px) {
  .expertiseTitle {
    font-size: 24px;
  }

  .expertiseSubTitle {
    font-size: 14px;
  }

  .subTitleOfList {
    font-size: 16px;
  }

  .expertiseContentWords ul {
    font-size: 16px;
  }

  .expertiseCirlce {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }

  .expertiseCirlceContent {
    margin: 0px 20px;
  }

  .expertiseCirlceNumber {
    font-size: 16px;
  }

  .expertiseCirlceWords {
    font-size: 14px;
  }

  .expertiseSkillsBox {
    max-width: 150px;
  }

  .expertiseSkillsBox img {
    width: 60px;
    height: 60px;
  }
}
