.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 991px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
